<!DOCTYPE html>
<html>
	<head>

		<title>Tournament 1</title>
		<style>
			th {
				color: white;
			}
		</style>
		<link rel="stylesheet" href="{{ asset('stylesheet.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('main.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<script src="{{ asset('ajax.js') }}" defer></script>
		<footer>
			<div class="limiter">
				<div class="container-table100">
					<div class="wrap-table100">
						<div class="table100">
							<br><br>
							<form id="addForm">
								<input id="ent" type="hidden" value="" name="ent">
								<table>
									<thead>
										<tr>
											<th>
												<a style="color:white" href="{{ path('home') }}">&lt;</a>
												Add
												<span id="movieTrigger" class="trigger">Movie</span>
												|
												<span id="quoteTrigger" class="trigger">Quote</span>
											</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="addMovie" class="addBody">
										<tr>
											<td>
												Name
											</td>
											<td>
												<input type="text" name="MovieName"/>
											</td>
										</tr>
										<tr>
											<td>
												Release Year
											</td>
											<td>
												<input type="number" min="1000" max="2999" step="1" name="MovieYear"/>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<input type="submit" value="Submit" class="editSubmit"/>
											</td>
										</tr>
									</tbody>
									<tbody id="addQuote" class="addBody">
										<tr>
											<td>
												Text
											</td>
											<td>
												<input type="text" name="QuoteText"/>
											</td>
										</tr>
										<tr>
											<td>
												Character
											</td>
											<td>
												<input type="text" name="QuoteCharacter"/>
											</td>
										</tr>
										<tr>
											<td>
												Movie
											</td>
											<td>
												<select name="movieId">
													{% for item in movies %}
														<option value="{{item.id}}">{{item.name}}</option>
													{% endfor %}
												</select>
												{# <input type="text" name="QuoteCharacter"/> #}
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<input type="submit" value="Submit" class="editSubmit"/>
											</td>
										</tr>
									</tbody>
								</table>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
